<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527719217901-tohrmarkl55crvpa06ro07mleaj97cq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527719217901-tohrmarkl55crvpa06ro07mleaj97cq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBws58_s0os_mC6wJ-YqmTNXtJblASfhfY</string>
	<key>GCM_SENDER_ID</key>
	<string>527719217901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Swati.MusicGenie</string>
	<key>PROJECT_ID</key>
	<string>musicgenie-eda39</string>
	<key>STORAGE_BUCKET</key>
	<string>musicgenie-eda39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527719217901:ios:8e310e02f5dbc114</string>
	<key>DATABASE_URL</key>
	<string>https://musicgenie-eda39.firebaseio.com</string>
</dict>
</plist>